{% extends "base.html" %}
{% block body %}
<h1><u><b>Incident Response Dashboard</b></u></h1>
Name: <input type="text" name="name"><br>
Date: <input type="text" name="date"><br>
Status:
<select name="status">
  <option value="Open">Open</option>
  <option value="In review">In Review</option>
  <option value="In progress">In Progress</option>
  <option value="Closed">Closed</option>
</select><br>

Type:
<select name="type">
  <option value="event">Open</option>
  <option value="incident">Incident</option>
</select><br>

Category:
<select name="category">
  <option value="Phishing"><Phishing/option>
  <option value="Worm">Worm</option>
  <option value="Ransomware">Ransomware</option>
  <option value="Rootkiy">Rooktkit</option>
  <option value="Botnet">Botnet</option>
  <option value="Malware Unknown">Malware Unknown</option>
</select><br>


{% endblock %}
~
