{% extends "base.html" %}
{% block body %}
<h1><u><b><center>Incident Response Dashboard</center></b></u></h1>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<h2>Frequencies</h2>
<table>
  <tr>
    <th>Type</th>
    <th>Count</th>
  </tr>
  <tr>
    <td>Rookit</td>
    <td>20</td>
  </tr>
</table>
{% endblock %}
