{% extends "base.html" %}
{% block body %}
	<!-- Drop down menu for deploy scripts -->
	<h4>Select script</h4>	
	<form action="{{ url_for('deploy') }}" method="POST">
		<select id="scriptSelect" name="scriptSelect" onchange="this.form.submit()">
		{% if (scriptRequest == "" or scriptRequest == "newScript") %}
                        <option value="newScript" selected value>New Script</option>
                {% else %}
                        <option value="newScript">New Script</option>
                 	<option value="{{scriptRequest}}" selected value>{{scriptRequest}}</option>
                {% endif %}
                {% for item in deployScripts %}
                	<option value="{{item}}">{{item}}</option>
                {% endfor %}
		</select>

    <!-- Name text box for script -->
    <h4>Name</h4>
    <input type="text" name="scriptName" value="{{scriptRequest}}">

    <!-- Deploy Command box --> 
    <h4> Deploy Command </h4>
    <style>.textboxborder { border-style:solid; border-color:#287EC7; width: 90%; height: 50px; } </style>
    <p class="textboxborder">
      {{deployCommand}}
    </p>

    <!-- Script contents -->
    <br/><br/><h4>Script</h4>
    <textarea name="scriptBox" rows="20" cols="150">{{fileContents}}</textarea>

    <!-- Submit data -->
    <input type="submit" name="submit_name" value="Send">

</form></br></br>
{% endblock %}
