{% extends "base.html" %}
{% block body %}
	<!-- Drop down menu for deploy scripts -->
	<h4>Select script</h4>	
	<form action="{{ url_for('deploy') }}" method="POST">
		<select id="scriptSelect" name="scriptSelect" onchange="this.form.submit()">
		{% if (scriptRequest == "" or scriptRequest == "newScript") %}
                        <option value="newScript" selected value>New Script</option>
                {% endif %}
                {% for item in deployScripts %}
			{% if scriptRequest == item %}
				<option value="newScript">New Script</option>
                	 	<option value="{{item}}" selected value >{{item}} </option>
			{% else %}
                	 	<option value="{{item}}">{{item}}</option>
			{% endif %}
		{% endfor %}
		</select>

    <!-- Name text box for script -->
    <h4>Name</h4>
    <input type="text" name="scriptName" value="{{scriptRequest}}">

    <!-- Deploy Command box --> 
    <h4> Deploy Command </h4>
    <style>.textboxborder { border-style:solid; border-color:#287EC7; width: 90%; height: 50px; } </style>
    <p class="textboxborder">
      <kbd>{{deployCommand}}</kbd>
    </p>

    <!-- Script contents -->
    <br/><br/><h4>Script</h4>
    <textarea name="scriptBox" rows="15" cols="150">{{fileContents}}</textarea></br></br>

    <!-- Submit data -->
    <input type="submit" name="submit_name" value="Submit">
</form></br></br>
{% endblock %}
