{% extends "base.html" %}
{% block body %}
  <!-- Cloudsofhoney photo credit: https://regmedia.co.uk/2014/06/11/cloudsecurityinfosecamazon.jpg?x=648&y=348&crop=1 --> 
  <center><img src="{{ url_for('static', filename='cloudsofhoney.jpg') }}"></center>


  <!-- Login panel -->
  <center><div class="container">
  <form action="" method=post class="form-horizontal">
    <div class="control-group">
        <div class="controls">
          Username: <input type="text" id="username" name="username" class="input-xlarge"
            placeholder="Enter Username" required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          Password: <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Enter Password" required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          </br><button type="submit" class="btn btn-success">Sign in</button>
        </div>
    </div>
  </form>
  </div></center>
{% endblock %}
